@model Vidly.ViewModels.ListOfCustomersViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>

@if (Model.Customers.Any())
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>Customers</th>
            <th>Discount Rate</th>
        </tr>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Edit", "Customer", new { id = customer.Id}, null)</td>
                <td>@customer.MemberShipType.Name</td>
            </tr>
        }
    </table>
}
else
{
    <p>We don't have any customers yet.</p>
}
